[packages]
django = "~=2.2.10"
nexmo = "~=2.0.0"
attrs = "==17.4.0"
marshmallow = "==3.0.0b8"
phonenumbers = "~=8.9.4"
pusher = "*"

[dev-packages]
black = "*"
pytest-django = "~=3.2.1"
pytest = "~=3.5.1"

[pipenv]
allow_prereleases = true
